In [1]:
# import pandas

In [2]:
import pandas as pd

In [3]:
nums = [3,6,1,7,9]

In [4]:
type(nums)

list

In [5]:
# pd.Series()--> converts data into series

In [6]:
nums_series = pd.Series(nums)
nums_series

0    3
1    6
2    1
3    7
4    9
dtype: int64

In [ ]:
# index

In [7]:
type(nums_series)

pandas.core.series.Series

In [8]:
print("Max number is : ", nums_series.max())

Max number is :  9

In [9]:
print("Min number is : ", nums_series.min())

Min number is :  1

In [10]:
print("Average number is : ", nums_series.mean())

Average number is :  5.2

In [11]:
print("Standard deviation is : ", nums_series.std())

Standard deviation is :  3.1937438845342623

In [12]:
print("Median number is : ", nums_series.median())

Median number is :  6.0

In [13]:
# combine two series

In [14]:
s1 = pd.Series([1,2],index = ['a','b'], name = 's1')
s2 = pd.Series([3,4],index = ['a','b'], name = 's2')

In [15]:
s1

a    1
b    2
Name: s1, dtype: int64

In [16]:
s2

a    3
b    4
Name: s2, dtype: int64

In [19]:
# concat  = combine multiple series to form dataframe

row_wise = pd.concat([s1,s2], axis = 0)
row_wise

a    1
b    2
a    3
b    4
dtype: int64

In [21]:
type(row_wise)

pandas.core.series.Series

In [23]:
row_wise.shape

(4,)

In [20]:
column_wise = pd.concat([s1,s2], axis = 1)
column_wise

   s1  s2
a   1   3
b   2   4

In [22]:
type(column_wise)

pandas.core.frame.DataFrame

In [24]:
column_wise.shape

(2, 2)

In [25]:
# Data loading

In [28]:
import pandas as pd

In [26]:
df = pd.read_csv("telecom_churn.csv")

In [27]:
# .head() = display first 5 rows from data 
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [29]:
# .head(n) = display first n rows from data 
df.head(15)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
10,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
11,RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False
12,IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False
13,MT,95,510,No,No,0,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False
14,IA,62,415,No,No,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False

In [30]:
# .tail() = display last 5 rows from data 
df.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [31]:
# .tail(n) = display last n rows from data 
df.tail(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [32]:
# .shape = number of rows and columns
df.shape

(3333, 20)

In [33]:
# .size = number of data points present in the data (rows*cols)

df.size

66660

In [34]:
# .columns = gives list fo columns present in data

df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [35]:
df.columns.to_list()

['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

In [36]:
# overall information regrading data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [ ]:
# 'welcome' = str , 'State' = object

In [39]:
# isnull().sum() = count of nulls per each columns

In [38]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [40]:
df.head(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False

In [42]:
# accesing columns from data

In [ ]:
# single column

In [43]:
# method 1 : using dot(.)

df.State

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [44]:
type(df.State)

pandas.core.series.Series

In [46]:
df.Account length

SyntaxError: invalid syntax (<ipython-input-46-1fa24ca7f916>, line 1)

In [45]:
# method 2 : using square brackets dataframe_name['column name']

df['State']

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [47]:
df['Account length']

0       128
1       107
2       137
3        84
4        75
       ...
3328    192
3329     68
3330     28
3331    184
3332     74
Name: Account length, Length: 3333, dtype: int64

In [48]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [51]:
# multiple columns access = [[ ]]

df[['State', 'Total intl charge', 'Churn']]

     State  Total intl charge  Churn
0       KS               2.70  False
1       OH               3.70  False
2       NJ               3.29  False
3       OH               1.78  False
4       OK               2.73  False
...    ...                ...    ...
3328    AZ               2.67  False
3329    WV               2.59  False
3330    RI               3.81  False
3331    CT               1.35  False
3332    TN               3.70  False

[3333 rows x 3 columns]

In [52]:
# value_counts : count of values present in each column per each category

df['Churn'].value_counts()

False    2850
True      483
Name: Churn, dtype: int64

In [53]:
2850+483

3333

In [54]:
df['Area code'].value_counts()

415    1655
510     840
408     838
Name: Area code, dtype: int64

In [56]:
# in %

df['Area code'].value_counts(normalize=True)

415    0.496550
510    0.252025
408    0.251425
Name: Area code, dtype: float64

In [57]:
df['Area code'].value_counts(normalize=True)*100

415    49.654965
510    25.202520
408    25.142514
Name: Area code, dtype: float64

In [58]:
df.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False

In [59]:
df['Total day minutes'].value_counts()

154.0    8
159.5    8
174.5    8
183.4    7
175.4    7
        ..
78.6     1
200.9    1
254.3    1
247.0    1
180.8    1
Name: Total day minutes, Length: 1667, dtype: int64

In [60]:
df['International plan'].value_counts()

No     3010
Yes     323
Name: International plan, dtype: int64

In [61]:
# describe() : it gives statestical information from data

In [62]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [64]:
df.describe(include='O')

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

In [66]:
# df.describe(include='all')

In [67]:
# accessing the rows using row index

In [69]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [71]:
# df.iloc[n] : nth row ,n = index
df.iloc[2]

State                        NJ
Account length              137
Area code                   415
International plan           No
Voice mail plan              No
Number vmail messages         0
Total day minutes         243.4
Total day calls             114
Total day charge          41.38
Total eve minutes         121.2
Total eve calls             110
Total eve charge           10.3
Total night minutes       162.6
Total night calls           104
Total night charge         7.32
Total intl minutes         12.2
Total intl calls              5
Total intl charge          3.29
Customer service calls        0
Churn                     False
Name: 2, dtype: object

In [72]:
# subsetting dataframe using iloc : 
# iloc[n1:n2,m1:m2]    n1,n2 = row   m1,m2 = columns


df.iloc[2:5]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [73]:
df.iloc[:5]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [74]:
df.iloc[3300:]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3300,SC,111,415,No,Yes,21,127.1,94,21.61,228.3,116,19.41,166.7,108,7.50,7.1,3,1.92,1,False
3301,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True
3302,LA,75,510,Yes,No,0,153.2,78,26.04,210.8,99,17.92,153.5,100,6.91,7.8,3,2.11,1,False
3303,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
3304,IL,71,510,Yes,No,0,186.1,114,31.64,198.6,140,16.88,206.5,80,9.29,13.8,5,3.73,4,True
3305,IN,58,415,No,Yes,22,224.1,127,38.10,238.8,85,20.30,174.2,86,7.84,11.5,7,3.11,2,False
3306,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
3307,OK,172,408,No,No,0,203.9,109,34.66,234.0,123,19.89,160.7,65,7.23,17.8,4,4.81,4,False
3308,IA,45,415,No,No,0,211.3,87,35.92,165.7,97,14.08,265.9,72,11.97,13.3,6,3.59,1,False
3309,VT,100,408,Yes,No,0,219.4,112,37.30,225.7,102,19.18,255.3,95,11.49,12.0,4,3.24,4,False
3310,NY,94,415,No,No,0,190.4,91,32.37,92.0,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False
3311,LA,128,415,No,No,0,147.7,94,25.11,283.3,83,24.08,188.3,124,8.47,6.9,5,1.86,2,False
3312,SC,181,408,No,No,0,229.9,130,39.08,144.4,93,12.27,262.4,110,11.81,14.2,4,3.83,2,False
3313,ID,127,408,No,No,0,102.8,128,17.48,143.7,95,12.21,191.4,97,8.61,10.0,5,2.70,1,False
3314,MO,89,415,No,No,0,178.7,81,30.38,233.7,74,19.86,131.9,120,5.94,9.1,4,2.46,1,False
3315,ME,149,415,No,Yes,18,148.5,106,25.25,114.5,106,9.73,178.3,98,8.02,6.5,4,1.76,0,False
3316,MS,103,510,No,Yes,29,164.1,111,27.90,219.1,96,18.62,220.3,108,9.91,12.3,9,3.32,0,False
3317,SD,163,415,Yes,No,0,197.2,90,33.52,188.5,113,16.02,211.1,94,9.50,7.8,8,2.11,1,False
3318,OK,52,415,No,No,0,124.9,131,21.23,300.5,118,25.54,192.5,106,8.66,11.6,4,3.13,2,False
3319,WY,89,415,No,No,0,115.4,99,19.62,209.9,115,17.84,280.9,112,12.64,15.9,6,4.29,3,False
3320,GA,122,510,Yes,No,0,140.0,101,23.80,196.4,77,16.69,120.1,133,5.40,9.7,4,2.62,4,True
3321,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
3322,MD,62,408,No,No,0,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True
3323,IN,117,415,No,No,0,118.4,126,20.13,249.3,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True
3324,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
3325,OH,78,408,No,No,0,193.4,99,32.88,116.9,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False
3326,OH,96,415,No,No,0,106.6,128,18.12,284.8,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False
3327,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [75]:
df.iloc[2:7, 0:4]

  State  Account length  Area code International plan
2    NJ             137        415                 No
3    OH              84        408                Yes
4    OK              75        415                Yes
5    AL             118        510                Yes
6    MA             121        510                 No

In [76]:
df.iloc[2:7, 0:4].isnull().sum()

State                 0
Account length        0
Area code             0
International plan    0
dtype: int64

In [77]:
df.iloc[2:7, 0:4].describe()

       Account length   Area code
count        5.000000    5.000000
mean       107.000000  451.600000
std         26.315395   53.388201
min         75.000000  408.000000
25%         84.000000  415.000000
50%        118.000000  415.000000
75%        121.000000  510.000000
max        137.000000  510.000000

In [80]:
df.iloc[2:7, 3:4].isnull().sum()

International plan    0
dtype: int64

In [83]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [84]:
# subsetting data using loc : provide row index, column names


df.loc[3:10, ['Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls']]

    Total day calls  Total day charge  Total eve minutes  Total eve calls
3                71             50.90               61.9               88
4               113             28.34              148.3              122
5                98             37.98              220.6              101
6                88             37.09              348.5              108
7                79             26.69              103.1               94
8                97             31.37              351.6               80
9                84             43.96              222.0              111
10              137             21.95              228.5               83

In [85]:
# sorting data based on single column


df.sort_values(by = 'State')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
181,AK,126,415,No,No,0,58.2,94,9.89,138.7,118,11.79,136.8,91,6.16,11.9,1,3.21,5,True
550,AK,111,415,No,No,0,172.8,58,29.38,183.1,108,15.56,158.8,104,7.15,7.9,3,2.13,4,True
2929,AK,71,510,No,No,0,185.0,84,31.45,232.5,129,19.76,191.1,82,8.60,14.9,4,4.02,3,False
1260,AK,76,415,No,Yes,22,160.1,107,27.22,168.7,136,14.34,23.2,102,1.04,9.5,4,2.57,3,False
1803,AK,101,510,No,No,0,174.9,105,29.73,262.0,75,22.27,210.0,93,9.45,8.5,5,2.30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,WY,148,408,No,No,0,243.0,115,41.31,191.8,91,16.30,117.8,93,5.30,13.4,5,3.62,2,False
1265,WY,95,415,No,Yes,39,260.8,130,44.34,213.4,111,18.14,195.6,97,8.80,10.1,5,2.73,1,False
762,WY,161,415,Yes,No,0,189.6,78,32.23,267.4,117,22.73,184.5,137,8.30,1.3,6,0.35,1,False
1628,WY,131,510,No,No,0,110.9,74,18.85,115.6,90,9.83,190.5,114,8.57,15.8,9,4.27,1,False
609,WY,111,415,No,No,0,146.2,55,24.85,261.5,83,22.23,163.2,116,7.34,8.7,3,2.35,3,False

In [86]:
df.sort_values(by = 'State',ascending=False)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
273,WY,139,415,No,No,0,192.8,104,32.78,234.4,96,19.92,203.2,101,9.14,13.0,3,3.51,3,False
731,WY,90,415,No,No,0,207.2,121,35.22,292.5,104,24.86,226.3,103,10.18,8.0,1,2.16,2,False
2912,WY,151,415,No,No,0,170.2,89,28.93,187.5,83,15.94,119.5,100,5.38,4.3,3,1.16,0,False
1628,WY,131,510,No,No,0,110.9,74,18.85,115.6,90,9.83,190.5,114,8.57,15.8,9,4.27,1,False
2915,WY,58,510,No,No,0,210.1,126,35.72,248.9,108,21.16,158.6,88,7.14,14.4,2,3.89,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,AK,115,415,No,No,0,245.2,105,41.68,159.0,109,13.52,229.9,74,10.35,7.2,8,1.94,0,False
3283,AK,99,510,No,No,0,238.4,96,40.53,246.5,130,20.95,198.4,117,8.93,12.4,4,3.35,3,False
1162,AK,173,510,No,No,0,172.5,78,29.33,142.6,91,12.12,102.0,63,4.59,10.9,2,2.94,0,False
2752,AK,55,408,No,Yes,39,139.3,101,23.68,178.3,117,15.16,246.5,104,11.09,8.1,1,2.19,3,False
2270,AK,146,415,No,No,0,195.9,86,33.30,228.6,82,19.43,303.5,94,13.66,12.2,4,3.29,3,False

In [88]:
# sorting data on mutliple columns

df.sort_values(by = ['State','Area code'])

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
36,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
95,AK,104,408,No,No,0,278.4,106,47.33,81.0,113,6.89,163.2,137,7.34,9.8,5,2.65,1,False
339,AK,78,408,No,No,0,225.1,67,38.27,199.2,127,16.93,175.5,102,7.90,14.6,2,3.94,0,False
684,AK,110,408,No,No,0,100.1,90,17.02,233.3,93,19.83,204.4,57,9.20,11.1,8,3.00,3,False
718,AK,127,408,No,No,0,182.3,124,30.99,169.9,110,14.44,184.0,116,8.28,9.3,3,2.51,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,WY,116,510,No,Yes,12,221.0,108,37.57,151.0,118,12.84,179.0,80,8.06,9.0,6,2.43,2,False
2739,WY,101,510,No,Yes,9,160.1,116,27.22,210.0,121,17.85,139.1,65,6.26,10.8,9,2.92,0,False
2874,WY,134,510,No,No,0,296.0,93,50.32,226.4,117,19.24,246.8,98,11.11,12.3,10,3.32,0,True
2915,WY,58,510,No,No,0,210.1,126,35.72,248.9,108,21.16,158.6,88,7.14,14.4,2,3.89,4,False
3172,WY,41,510,No,No,0,223.8,67,38.05,244.8,74,20.81,223.8,156,10.07,12.3,5,3.32,3,False

In [89]:
# copy data
df_copy = df.copy()

In [91]:
df_copy.sort_values(by = 'State')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
181,AK,126,415,No,No,0,58.2,94,9.89,138.7,118,11.79,136.8,91,6.16,11.9,1,3.21,5,True
550,AK,111,415,No,No,0,172.8,58,29.38,183.1,108,15.56,158.8,104,7.15,7.9,3,2.13,4,True
2929,AK,71,510,No,No,0,185.0,84,31.45,232.5,129,19.76,191.1,82,8.60,14.9,4,4.02,3,False
1260,AK,76,415,No,Yes,22,160.1,107,27.22,168.7,136,14.34,23.2,102,1.04,9.5,4,2.57,3,False
1803,AK,101,510,No,No,0,174.9,105,29.73,262.0,75,22.27,210.0,93,9.45,8.5,5,2.30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,WY,148,408,No,No,0,243.0,115,41.31,191.8,91,16.30,117.8,93,5.30,13.4,5,3.62,2,False
1265,WY,95,415,No,Yes,39,260.8,130,44.34,213.4,111,18.14,195.6,97,8.80,10.1,5,2.73,1,False
762,WY,161,415,Yes,No,0,189.6,78,32.23,267.4,117,22.73,184.5,137,8.30,1.3,6,0.35,1,False
1628,WY,131,510,No,No,0,110.9,74,18.85,115.6,90,9.83,190.5,114,8.57,15.8,9,4.27,1,False
609,WY,111,415,No,No,0,146.2,55,24.85,261.5,83,22.23,163.2,116,7.34,8.7,3,2.35,3,False

In [93]:
# inplace = True for permanant change

df_copy.sort_values(by = 'State',inplace=True)

In [94]:
df_copy

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
181,AK,126,415,No,No,0,58.2,94,9.89,138.7,118,11.79,136.8,91,6.16,11.9,1,3.21,5,True
550,AK,111,415,No,No,0,172.8,58,29.38,183.1,108,15.56,158.8,104,7.15,7.9,3,2.13,4,True
2929,AK,71,510,No,No,0,185.0,84,31.45,232.5,129,19.76,191.1,82,8.60,14.9,4,4.02,3,False
1260,AK,76,415,No,Yes,22,160.1,107,27.22,168.7,136,14.34,23.2,102,1.04,9.5,4,2.57,3,False
1803,AK,101,510,No,No,0,174.9,105,29.73,262.0,75,22.27,210.0,93,9.45,8.5,5,2.30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,WY,148,408,No,No,0,243.0,115,41.31,191.8,91,16.30,117.8,93,5.30,13.4,5,3.62,2,False
1265,WY,95,415,No,Yes,39,260.8,130,44.34,213.4,111,18.14,195.6,97,8.80,10.1,5,2.73,1,False
762,WY,161,415,Yes,No,0,189.6,78,32.23,267.4,117,22.73,184.5,137,8.30,1.3,6,0.35,1,False
1628,WY,131,510,No,No,0,110.9,74,18.85,115.6,90,9.83,190.5,114,8.57,15.8,9,4.27,1,False
609,WY,111,415,No,No,0,146.2,55,24.85,261.5,83,22.23,163.2,116,7.34,8.7,3,2.35,3,False

In [97]:
# reset index

df_copy.reset_index(inplace=True)

In [98]:
df_copy

,index,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,181,AK,126,415,No,No,0,58.2,94,9.89,...,118,11.79,136.8,91,6.16,11.9,1,3.21,5,True
1,550,AK,111,415,No,No,0,172.8,58,29.38,...,108,15.56,158.8,104,7.15,7.9,3,2.13,4,True
2,2929,AK,71,510,No,No,0,185.0,84,31.45,...,129,19.76,191.1,82,8.60,14.9,4,4.02,3,False
3,1260,AK,76,415,No,Yes,22,160.1,107,27.22,...,136,14.34,23.2,102,1.04,9.5,4,2.57,3,False
4,1803,AK,101,510,No,No,0,174.9,105,29.73,...,75,22.27,210.0,93,9.45,8.5,5,2.30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,3258,WY,148,408,No,No,0,243.0,115,41.31,...,91,16.30,117.8,93,5.30,13.4,5,3.62,2,False
3329,1265,WY,95,415,No,Yes,39,260.8,130,44.34,...,111,18.14,195.6,97,8.80,10.1,5,2.73,1,False
3330,762,WY,161,415,Yes,No,0,189.6,78,32.23,...,117,22.73,184.5,137,8.30,1.3,6,0.35,1,False
3331,1628,WY,131,510,No,No,0,110.9,74,18.85,...,90,9.83,190.5,114,8.57,15.8,9,4.27,1,False
3332,609,WY,111,415,No,No,0,146.2,55,24.85,...,83,22.23,163.2,116,7.34,8.7,3,2.35,3,False

In [99]:
# droping column

In [100]:
df_copy.drop(['index'],axis = 1,inplace=True)

In [101]:
df_copy

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,AK,126,415,No,No,0,58.2,94,9.89,138.7,118,11.79,136.8,91,6.16,11.9,1,3.21,5,True
1,AK,111,415,No,No,0,172.8,58,29.38,183.1,108,15.56,158.8,104,7.15,7.9,3,2.13,4,True
2,AK,71,510,No,No,0,185.0,84,31.45,232.5,129,19.76,191.1,82,8.60,14.9,4,4.02,3,False
3,AK,76,415,No,Yes,22,160.1,107,27.22,168.7,136,14.34,23.2,102,1.04,9.5,4,2.57,3,False
4,AK,101,510,No,No,0,174.9,105,29.73,262.0,75,22.27,210.0,93,9.45,8.5,5,2.30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,WY,148,408,No,No,0,243.0,115,41.31,191.8,91,16.30,117.8,93,5.30,13.4,5,3.62,2,False
3329,WY,95,415,No,Yes,39,260.8,130,44.34,213.4,111,18.14,195.6,97,8.80,10.1,5,2.73,1,False
3330,WY,161,415,Yes,No,0,189.6,78,32.23,267.4,117,22.73,184.5,137,8.30,1.3,6,0.35,1,False
3331,WY,131,510,No,No,0,110.9,74,18.85,115.6,90,9.83,190.5,114,8.57,15.8,9,4.27,1,False
3332,WY,111,415,No,No,0,146.2,55,24.85,261.5,83,22.23,163.2,116,7.34,8.7,3,2.35,3,False